:host {
  $border-color: black;

  display: grid;
  gap: 1px;
  background-color: $border-color;
  border: 1px solid $border-color;
  box-sizing: border-box;

  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: .5;
  display: flex;
  align-items: center;
  justify-content: center;

  &.victory {
    background-color: lightgreen;
  }

  &.game-over {
    background-color: pink;
  }
}
